@media screen and (max-width: 500px) {
	.main-container {
		width: 100%;
		border: 1px solid;
		background: red;
	}
}

.main-container {
	width: 500px;
	margin: auto;
	background: yellow;
}

#origin {

}

#grid {

}

#cartician {

}

#position {

}

.container {

}
