@media screen and (max-width: 500px) {
	.main-container {
		width: 100%;
	}
}

body {
	padding: 0;
	margin: 0;
}

h4 {
	margin-top: 20px;
	margin-left: 20px;
}

.main-container {
	width: 500px;
	margin: auto;
}

.container {

}
